<div class="card" style="width: 48rem;">
    <div class="card-body"  style="background-color:rgb(50, 143, 205);">
<div class="container">
    <h1> <span class="badge text-bg-secondary">Register Here...</span></h1>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
  </div>
  <br>
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">

    <label for="floatingPassword">Password</label>
  </div>
</div>
<br>
<button type="submit" class="btn btn-success" routerLink="/home">Register</button>
<button type="submit" class="btn btn-danger">Cancel</button>
    </div>
</div>
